@model EPB11.Models.VenitModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VenitModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denumire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denumire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sursa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sursa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumaTotalaVenituri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumaTotalaVenituri)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VenitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
