@model IEnumerable<EPB11.Models.VenitModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sursa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumaTotalaVenituri)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sursa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moneda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumaTotalaVenituri)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VenitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VenitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VenitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Sumă totală venituri</th>
            <th>@Model.Sum(i=>i.Suma)</th>
            <th>Lei</th>
            <th></th>
        </tr>
    </tfoot>
</table>
